{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>지능형 CCTV</title>
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{%static 'jsCss/list.css'%}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="app-container">
      <div class="sidebar">
        <div class="sidebar-header">
          <div class="app-icon">
            <span class="iconify" data-icon="bxs:cctv" data-width="24" data-height="24"></span>
          </div>
        </div>
        <ul class="sidebar-list">
          <li class="sidebar-list-item">
            <a href="/">
              <span class="iconify" data-icon="ant-design:home-outlined" data-width="24" data-height="24"></span>
              <span>Home</span>
            </a>
          </li>
          <li class="sidebar-list-item active">
            <a href="/danger">
              <span class="iconify" data-icon="ph:traffic-signal-light" style="color: red;" data-width="24" data-height="24"></span>
              <span>Danger</span>
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/warn">
              <span class="iconify" data-icon="ph:traffic-signal-light" style="color: orange;" data-width="24" data-height="24"></span>
              <span>Warn</span>
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/normal">
              <span class="iconify" data-icon="ph:traffic-signal-light" style="color: green;" data-width="24" data-height="24"></span>
              <span>Normal</span>
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/null">
              <span class="iconify" data-icon="ph:traffic-signal-light" style="color: gray;" data-width="24" data-height="24"></span>
              <span>Null</span>
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/test">
              <span class="iconify" data-icon="ph:traffic-signal-light" data-width="24" data-height="24"></span>
              <span>Test Server</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="app-content">
        <div class="app-content-header">
          <h1 class="app-content-headerText">Danger List</h1>
          <button class="mode-switch" title="Switch Theme">
            <span class="iconify" data-icon="eva:moon-fill" data-width="24" data-height="24"></span>
          </button>
          <button class="app-content-headerButton" onclick="window.location.href='/post'">Add Image</button>
        </div>
        <div class="app-content-actions">
          <input class="search-bar" placeholder="Search for title" type="text">
          <div class="app-content-actions-wrapper">
            <div class="filter-button-wrapper">
              <button class="action-button filter jsFilter"><span>Filter</span><span class="iconify" data-icon="line-md:image-twotone" data-width="24" data-height="24"></span></button>
              <div class="filter-menu">
                <label>Category</label>
                <select>
                  <option>All Categories</option>
                  <option>Furniture</option>                     
                  <option>Decoration</option>
                  <option>Kitchen</option>
                  <option>Bathroom</option>
                </select>
                <label>Status</label>
                <select>
                  <option>All Status</option>
                  <option>Active</option>
                  <option>Disabled</option>
                </select>
                <div class="filter-menu-buttons">
                  <button class="filter-button reset">
                    Reset
                  </button>
                  <button class="filter-button apply">
                    Apply
                  </button>
                </div>
              </div>
            </div>
            <button class="action-button list active" title="List View">
              <span class="iconify" data-icon="bi:list-ol" data-width="24" data-height="24"></span>
            </button>
            <button class="action-button grid" title="Grid View">
              <span class="iconify" data-icon="bi:grid-3x3" data-width="24" data-height="24"></span>
            </button>
          </div>
        </div>
        <div class="cctv-area-wrapper tableView">
          <div class="cctv-header">
            <div class="cctv-cell image">
              CCTV
              <button class="sort-button">
                <span class="iconify" data-icon="bx:sort-alt-2" data-width="24" data-height="24"></span>
              </button>
            </div>
            <div class="cctv-cell author">작성자<button class="sort-button">
                <span class="iconify" data-icon="bx:sort-alt-2" data-width="24" data-height="24"></span>
              </button></div>
            <div class="cctv-cell status-cell">상태<button class="sort-button">
                <span class="iconify" data-icon="bx:sort-alt-2" data-width="24" data-height="24"></span>
              </button></div>
            <div class="cctv-cell content">설명<button class="sort-button">
                <span class="iconify" data-icon="bx:sort-alt-2" data-width="24" data-height="24"></span>
              </button></div>
            <div class="cctv-cell created_date">작성날짜<button class="sort-button">
                <span class="iconify" data-icon="bx:sort-alt-2" data-width="24" data-height="24"></span>
              </button></div>
            <div class="cctv-cell modified_date">수정날짜<button class="sort-button">
                <span class="iconify" data-icon="bx:sort-alt-2" data-width="24" data-height="24"></span>
              </button></div>
          </div>
          {% for board in boards %}
          {% if board.status == 3 %}
          <div class="cctv-row">
            <button class="cell-more-button">
              <span class="iconify" data-icon="feather:more-vertical" data-width="18" data-height="18"></span>
            </button>
              <div class="cctv-cell image">
                {% if board.fileType == ".mp4" %}
                <img src="media/images/thumbnail.png" />
                {% else %}
                <img src="{{board.image.url}}" />
                {% endif %}
                <a href="/post/{{ board.id }}">
                  <span>{{ board.title }}</span>
                </a>
              </div>
            <div class="cctv-cell author"><span class="cell-label">작성자</span>{{ board.author }}</div>
            <div class="cctv-cell status-cell">
              <span class="cell-label">상태:</span>
              {% if board.status == 1 %}
              <span class="status normal">정상</span>
              {% elif board.status == 2 %}
              <span class="status warn">경고</span>
              {% elif board.status == 3 %}
              <span class="status danger">위험</span>
              {% else %}
              <span class="status disabled">NULL</span>
              {% endif %}
            </div>
            <div class="cctv-cell content"><span class="cell-label">설명:</span>{{ board.content }}</div>
            <div class="cctv-cell created_date"><span class="cell-label">작성 날짜:</span>{{ board.created_date | date:"Y-m-d h:i" }}</div>
            <div class="cctv-cell modified_date"><span class="cell-label">수정 날짜:</span>{{ board.modified_date | date:"Y-m-d h:i" }}</div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"
      integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <script src="{% static 'jsCss/list.js'%}"></script>
  <body/>

</html>
