{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>{{ board.title }}</title>
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{%static 'jsCss/detail.css'%}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="app-container">
      <div class="sidebar">
        <div class="sidebar-header">
          <div class="app-icon">
            <span class="iconify" data-icon="bxs:cctv" data-width="24" data-height="24"></span>
          </div>
        </div>
        <ul class="sidebar-list">
          <li class="sidebar-list-item">
            <a href="/">
              <span class="iconify" data-icon="ant-design:home-outlined" data-width="24" data-height="24"></span>
              <span>Home</span>
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/danger">
              <span class="iconify" data-icon="ph:traffic-signal-light" style="color: red;" data-width="24" data-height="24"></span>
              <span>Danger</span>
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/warn">
              <span class="iconify" data-icon="ph:traffic-signal-light" style="color: orange;" data-width="24" data-height="24"></span>
              <span>Warn</span>
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/normal">
              <span class="iconify" data-icon="ph:traffic-signal-light" style="color: green;" data-width="24" data-height="24"></span>
              <span>Normal</span>
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/null">
              <span class="iconify" data-icon="ph:traffic-signal-light" style="color: gray;" data-width="24" data-height="24"></span>
              <span>Null</span>
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/test">
              <span class="iconify" data-icon="ph:traffic-signal-light" data-width="24" data-height="24"></span>
              <span>Test Server</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="app-content">
        <div class="app-content-header">
          <h1 class="app-content-headerText">{{board.title}}</h1>
          <button class="mode-switch" title="Switch Theme">
            <span class="iconify" data-icon="eva:moon-fill" data-width="24" data-height="24"></span>
          </button>
          <button class="app-content-headerButton1" onclick="window.location.href='/post/edit/{{ board.id }}'">수정하기</button>
          <button class="app-content-headerButton2" onclick="window.location.href='/post/delete/{{ board.id }}'">삭제하기</button>
        </div>
        <div class="info-content">
          <ul class="info-list">
            <li class="info-list-item">
              <span class="iconify" data-icon="emojione-monotone:pencil" data-width="24" data-height="24"></span>
              <span>작성자 : {{ board.author }}</span>
            </li>
            <li class="info-list-item">
              <span class="iconify" data-icon="eva:question-mark-circle-outline" data-width="24" data-height="24"></span>
              <span>상태 :</span>
              {% if board.status == 1 %}
              <span class="status normal">정상</span>
              {% elif board.status == 2 %}
              <span class="status warn">경고</span>
              {% elif board.status == 3 %}
              <span class="status danger">위험</span>
              {% else %}
              <span class="status disabled">NULL</span>
              {% endif %}
            </li>
            <li class="info-list-item">
              <span class="iconify" data-icon="ant-design:message-outlined" data-width="24" data-height="24"></span>
              <span>설명 : {{ board.content }}</span>
            </li>
            <li class="info-list-item">
              <span class="iconify" data-icon="bi:calendar-day" data-width="24" data-height="24"></span>
              <span>수정일 : {{ board.modified_date | date:"Y-m-d h:i" }}</span>
            </li>
          </ul>
        </div>
        <div class="info-image">
          {% if board.fileType == ".mp4" %}
          <video controls autoplay>
            <source src="{{board.image.url}}" type="video/mp4" />
            영상 안돼!
          </video>
          {% else %}
          <img src="{{board.image.url}}" />
          <br /><br />
          {% endif %}
        </div>
           
      </div>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"
      integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <script src="{% static 'jsCss/detail.js'%}"></script>
  <body/>
</html>
