{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>test</title>
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{%static 'jsCss/test.css'%}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="form-box">
      <h2>Image Uproad</h2>
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="user-box">
          <input
            type="text"
            name="title"
            class="form-control"
            id="inputTitle"
            required=""
          />
          <label>제목</label>
        </div>
        <div class="user-box">
          <input
            type="text"
            name="author"
            class="form-control"
            id="inputAuthor"
            required=""
          />
          <label>작성자</label>
        </div>
        <div class="user-box">
          <input
            type="text"
            name="content"
            class="form-control"
            id="inputContent"
            required=""
          />
          <label>내용</label>
        </div>
        <div class="user-box">
          <input type="file" name="image" required="" />
        </div>
        <input
          class="btn btn-primary"
          type="submit"
          role="button"
          value="등록하기"
        />
      </form>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"
      integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>
